<div>
  <p class="text-gray-600">Browse through the doctors specialist.</p>
  <div class="flex flex-col sm:flex-row items-start gap-5 mt-5">
    <div class="flex flex-col gap-4 text-sm text-gray-600">
      @for (speciality of specialityArray; track $index) {
        @if (specialityParam === speciality) {
          <p
            routerLink="/doctors"
            class="w-[94vw] sm:w-auto pl-3 py-1.5 pr-16 border border-gray-300 rounded transition-all cursor-pointer bg-indigo-100 text-black"
          >
            {{ speciality }}
          </p>
        } @else {
          <p
            [routerLink]="['/doctors/', speciality]"
            class="w-[94vw] sm:w-auto pl-3 py-1.5 pr-16 border border-gray-300 rounded transition-all cursor-pointer"
          >
            {{ speciality }}
          </p>
        }
      }
    </div>

    <div class="w-full grid grid-cols-auto gap-4 gap-y-6">
      @for (doctor of filteredDoc; track $index) {
        <div
          routerLink="/appointment/{{ doctor._id }}"
          class="border border-blue-200 rounded-xl overflow-hidden cursor-pointer hover:translate-y-[-10px] transition-all duration-500"
        >
          <img class="bg-blue-50" [src]="doctor.image" alt="" />
          <div class="p-4">
            <div class="flex items-center gap-2 text-sm text-center text-green-500">
              <p class="w-2 h-2 bg-green-500 rounded-full"></p>
              <p>Available</p>
            </div>
            <p class="text-gray-900 text-lg font-medium">{{ doctor.name }}</p>
            <p class="text-gray-600 text-sm">{{ doctor.speciality }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</div>
